*, p {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to bottom, #ffffff, #5180af);
}

.editing {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 16px 0px 16px 16px;
  margin: 20px 4px 12px 0px;
  border: 2px solid #44b5f7;
  color: #000;
  background: #fff;
}

/* .jumbo-bg {
  
  background-image: url(https://i.imgur.com/yXid1OZ.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: content-box;
  height: 1fr;
  width: 1fr;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: auto;
} */

.header {
  width: 100%;
  text-align: center;
  z-index: 1;
  position: relative;
  color: #000;
  text-shadow: #aaa 0.2rem 0.3rem 2px;
  font-family: Verdana, sans-serif;
  font-size: 2vw;
}

.subtitle-link {
  text-decoration: none;
  text-shadow: none;
  color: #bbb;
}

.main-flex {
  display: flex;
  flex-direction: column;
}

.the-lounge {
  height: 1fr;
  padding: 0;
  color: #000;
  position: relative;
}

.the-lounge > p {
  background: linear-gradient(to bottom, #5180af23, #0000002f);
  height: 20vw;
  width: 1fr;
  padding: 0.5rem 0.8rem 2rem 0.8rem;
  margin: -0.5rem 0 0 0;
}

.overlay {
    margin: 0 0 0 35%;
    width: 1fr;
}

.overlay > img {
  width: 60%;
}

.the-music {
  padding: 2rem 0.8rem;
  background: linear-gradient(to bottom, #0000002f, #00000099);
  height: 1fr;
  width: 1fr;
  color: #010;
  position: relative;
  z-index: 3;
}

.the-rules {
  padding: 2rem 0.8rem;
  background: linear-gradient(to bottom, #00000099, #000000cc);
  background: #00000099;
  height: 1fr;
  width: 1fr;
  color: #aaa;
  position: relative;
  z-index: 4;
}

.the-events {
  padding: 2rem 0.8rem;
  background: linear-gradient(to bottom, #0000009a, #000000a2);
  height: 1fr;
  width: 1fr;
  color: #ccc;
  position: relative;
  z-index: 5;
}

/*
Assan Multipurpose landing template stylesheet
*/
@font-face {
    font-family: 'FontAwesome';
    src: url("../bower_components/font-awesome/fonts/fontawesome-webfont.eot?v=4.7.0");
    src: url("../bower_components/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format('embedded-opentype'),url("../bower_components/font-awesome/fonts/fontawesome-webfont.woff2?v=4.7.0") format('woff2'),url("../bower_components/font-awesome/fonts/fontawesome-webfont.woff?v=4.7.0") format('woff'),url("../bower_components/font-awesome/fonts/fontawesome-webfont.ttf?v=4.7.0") format('truetype'),url("../bower_components/font-awesome/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format('svg');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900');
@import "scss-main-demos/_variables.scss";
@import "scss-main-demos/_base.scss";
@import "scss-main-demos/_preloader.scss";
@import "scss-main-demos/_buttons.scss";
@import "scss-main-demos/_header.scss";
@import "scss-main-demos/_dropdown.scss";
@import "scss-main-demos/_hero-variants.scss";
@import "scss-main-demos/_cards.scss";
@import "scss-main-demos/_pricing.scss";
@import "scss-main-demos/_clients.scss";
@import "scss-main-demos/_parallax-backgrounds.scss";
@import "scss-main-demos/_tweeter-feeds.scss";
@import "scss-main-demos/_footer.scss";




@media(max-width:991px){
    .parallax-hero {
        padding-bottom: 0rem;
        padding-top: 7rem;
        text-align: center;
        .pb50{
            padding-bottom: 0px!important;
        }
    }
    .parallax-fullscreen{
        height: auto;
        padding-top: 7rem;
        padding-bottom: 7rem;
        .pb50{
            padding-bottom: 0px!important;
        }
    }
    .navbar .container,.navbar .container-fluid{
        position:relative;
    }
    .navbar-toggler{
        position: absolute;
        right:15px;
        background-image: none;
        border:0px;
        padding:0px;
        top:0;
        .navbar-toggler-icon{
            background-image: none;
            &:after{
                font-family: 'Linearicons';
                content: "\e92b";
                position: absolute;
                right:0;
                font-size: 2em;
                top:3px;
                transition: all .3s;
                -webkit-transition: all .3s;
                color:#000;
                cursor: pointer;
            }
        }
    }
    .navbar-brand > img {
        position: relative;
        margin-top:0px;
    }
    .navbar.navbar-expand-lg{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;
        box-shadow: 0px 10px 30px rgba(#000,.1);
    }
    .navbar.navbar-expand-lg {
        .nav-link.btn{
            display: none;
        }
        .navbar-collapse.show{
            height: 280px;
            overflow-y: scroll;
        }
    }
    .navbar .navbar-nav .nav-link{
        border-top: 0px;
    }
    .dropdown-menu{
        box-shadow: none;
    }
    h1,.h1{
        font-size:36px;
    }
    h2,.h2{
        font-size:28px;
    }
    h3,.h3{
        font-size:22px;
    }
    h4,.h4{
        font-size:18px;
    }
    p.lead{
        font-size:20px;
    }
    .title-font,.parallax-hero .title-font{
        font-size: 2rem;
    }
    .parallax-fullscreen h3.h1{
        padding-top: 30px;
    }
    .footer{
        padding-top: 40px;
        padding-bottom: 0px;
        .text-right{
            text-align: left!important;
        }
    } 
    .social-buttons{
        &:after{
            content: "";
            display: table;
            clear: both;
            width:100%;
        }
    }
    .footer ul.list-inline{
        padding-top: 25px;
    }
    .footer ul.list-inline li:first-child{
        padding-left: 0px;
    }
}