body, p {
  margin: 0;
  padding: 0;
  width: 1fr;
  word-wrap: break-word;
}

.jumbo-bg {
  background: linear-gradient(to bottom, #ffffff, #5180af);
  height: 1fr;
  width: 1fr;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: auto;
}

.header {
  width: 100%;
  text-align: center;
  z-index: 1;
  position: relative;
  color: #000;
  text-shadow: #aaa 0.2rem 0.3rem 2px;
  font-family: Verdana, sans-serif;
  font-size: 2vw;
}

.subtitle-link {
  text-decoration: none;
  text-shadow: none;
  color: #fff;
}

.the-lounge {
  height: 1fr;
  padding: 0;
  color: #aaa;
  position: relative;
}

.the-lounge > p {
  background: linear-gradient(to bottom, #5180af23, #0000002f);
  height: 20vw;
  width: 1fr;
  padding: 0.5rem 0.8rem 2rem 0.8rem;
  margin: -0.5rem 0 0 0;
}

.overlay {
    margin: 0;
    padding: 0 25%;
    width: 1fr;
}

.overlay > img {
  width: 60%;
}

.the-music {
  padding: 2rem 0.8rem;
  background: linear-gradient(to bottom, #0000002f, #00000099);
  height: 50vh;
  width: 1fr;
  color: #aaa;
  position: relative;
  z-index: 3;
}

.the-rules {
  padding: 2rem 0.8rem;
  background: linear-gradient(to bottom, #00000099, #000000cc);
  background: #00000099;
  height: 50vh;
  width: 1fr;
  color: #aaa;
  position: relative;
  z-index: 4;
}

.the-events {
  padding: 2rem 0.8rem;
  background: linear-gradient(to bottom, #0000009a, #000000a2);
  height: 50vh;
  width: 1fr;
  color: #aaa;
  position: relative;
  z-index: 5;
}
